@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #00d768;
  }

body{
    overflow-x: hidden;
    font-family: 'Sora';
    background-color: #ffffff;
    color: #333;
    overflow: hidden;
    
}
.head{
    text-align: center;
    font-size: small;
    font-family: "Sora";
    background-color: var(--primary-color);
    font-size: 12px;

    width:100%;
    padding-bottom: 10px;
    display: flex;
    color: #fff;
    justify-content: center;
}
.dindinIcon{
    width: 2%;
}