@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #00d768;
  /*#0e0c0a */
  --secondary-color: #090c0e;
  --footer-color: #020201;
  --text-color: #fff;
  --shadow-color: #08961b;
}

body {
  overflow-x: hidden;
  font-family: "Sora";
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: default;
}

.head {
  text-align: center;
  background-color: var(--primary-color);
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

.dindinIcon {
  width: 10%;
  height: auto;
}

.logon {
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
}

.logon:hover {
  color: var(--shadow-color);
  text-decoration: underline;
}

.titulo {
  text-align: center;
  padding-top: 50px;
  font-family: "Sora";
  font-weight: bold;
}

.subtitulo {
  text-align: center;
  color: #fff;
}

.suporte{
  display: none;
}
.itens {
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  cursor: default;
}

.MoneyBag {
  background-color: var(--primary-color);
  border-radius: 20px;
  transition: transform 0.3s;
  margin-right: 10px;
  box-shadow: 0px 4px 6px #000000e6;
}

.MoneyBag:hover {
  transform: translateY(-10px);
}

.Caculator {
  background-color: var(--primary-color);
  width: 95px;
  border-radius: 20px;
  margin-right: 10px;
  transition: transform 0.3s;
  box-shadow: 0px 4px 6px #000000e6;
}

.Caculator:hover {
  transform: translateY(-10px);
}

.Book {
  background-color: var(--primary-color);
  width: 95px;
  border-radius: 20px;
  margin-right: 10px;
  transition: transform 0.3s;
  box-shadow: 0px 4px 6px #000000e6;
}

.Book:hover {
  transform: translateY(-10px);
}

.textoexplicativo {
  text-align: center;
  color: var(--text-color);
  padding-bottom: 5%;
  width: 50%;
  margin: 0 auto;
}

.crieumaconta {
  text-decoration: none;
  color: #00d768;
}

.crieumaconta:hover {
  text-decoration: underline;
  color: var(--shadow-color);
}


.conteudo {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: var(--secondary-color);
  margin-bottom: 40px;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 6px #000000e6;
  font-size: 20px;
  font-family: Sora;
  padding: 20px;
  position: relative;
}

.mySlides img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.DinDInTamplateCelphone.Notebook {
  width: 450px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0.8;
}

.texto {
  margin-left: 20px;
}

.slide {
  display: none;
  text-align: center;
}

.slideshow-container {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  color: var(--text-color);
  height: 280px;
  overflow: hidden;
}

.ServicosTitulo {
  color: var(--primary-color);
  padding-bottom: 3%;
}

.slideshow-container p {
  font-size: 18px;
}


.especialCaractere {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  transition: color 0.3s;
  background-clip: border-box;

  background: linear-gradient(45deg,
      #06e933,
      #04d8d8,
      #03f133,
      #03eba5,
      #05e732);
  background-size: 400% 100%;
  animation: degrade 10s linear infinite;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes degrade {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 400%;
  }
}

.downloadBtn {
  text-decoration: none;
  color: #ffffff;
  z-index: 1;
}

.downloadBtn:hover {
  color: var(--shadow-color);
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #08964d;
}

.content {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 5%;
  color: var(--text-color);
  box-shadow: 0px 4px 6px #000000e6;
  border-radius: 30px;
  padding: 10px;
}

.tituloH1 {
  padding: 10px;
  color: var(--primary-color);
  font-weight: normal;
  padding-bottom: 20px;
}

footer {
  background-color: var(--footer-color);
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  text-decoration: none;
  display: flex;
  font-size: 14px;
}

.help {
  padding-left: 49%;
}

.linkSuporte {
  text-decoration: none;
  color: var(--primary-color);
}

.linkSuporte:hover {
  color: var(--shadow-color);
  text-decoration: underline;
}


.anuncio {
  color: var(--text-color);
  width: 40%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 4px 6px #000000e6;
  margin-bottom: 5%;
}

.Link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.Link:hover {
  text-decoration: underline;
  color: var(--shadow-color);
}

@media (max-width: 800px) {
  .mySlides img {
    display: none;
  }

  .dindinIcon {
    width: 20%;
    height: auto;
  }
  .conteudo{
    display: none;
  }
  .anuncio{
    color: var(--text-color);
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 4px 6px #000000e6;
    margin-bottom: 5%;
    font-size: 12px;
    text-align: center;
  }
  .slideshow-container {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: var(--text-color);
    height: 280px;
    overflow: hidden;
    padding-bottom: 30%;
  }

  footer {
    background-color: var(--footer-color);
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    text-decoration: none;
    display: flex;
    font-size: 14px;
  }

  .help {
    padding-left: 5%;
    width: 100%;
  }

  .menu-lines {
    left: 5px;
    top: 5px;
    width: 25px;
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
  }

  .menu-faketrigger {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 25px;
    z-index: 1000;
    width: 25px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
  }

  .menu-lines span {
    display: block;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background-color: var(--text-color);
    border-radius: 2px;
    transition: all ease .2s;
  }

  .menu-faketrigger:checked~.menu-lines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(.85);
  }

  .menu-faketrigger:checked~.menu-lines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(.85);
  }
  .help{
    display: none;
  }
  .direirosautorais{
    margin: 0 auto;
  }
  .suporte{
    display: block;
  }
}
